@import "../abstracts/variables";
.offcanvas{
    z-index: 2000;
    background-color: #183B56;
    color: #fff !important;
}

.offcanvas-header{
    .btn-close{
        background-color: #fff;
    }
}
.offcanvas-body{
    .mobile-nav-list{
        li{
            margin-bottom: 10px;
            a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px 0;
                    font-weight: 500;
                    text-decoration: none;
                    font-size: 16px;
                    transition: color 0.3s;
                    font-family: "openSans";
                    i {
                        font-size: 18px;
                         transition:all transform 0.3s;
                    }
                }
                
                // وقتی زیرمنو باز است، آیکون بچرخد
                a[aria-expanded="true"] {
                    i {
                    transform: rotate(180deg) !important;
                }
                }
        }
    }

}


// استایل زیرمنوهای داخل Canvas
.mobile-nav-list{
    .collapse {
    ul {
        border-left: 2px solid $c5;
        margin-left: 5px;
        li {
            background-color: $c5;
            a {
            font-size: 14px;
            padding: 8px 15px;
            color: #fff;
            
        }
        }
    }
     &:not(.show) {
        display: none;
    }
}
}

